body{
    color: #404040;
    font-family: Georgia, Garamond,Serif;
    font-size: 11pt;
    background-color: #fff;
    background-image: url(../images/silverware.jpg);
    background-attachment: fixed;

}
.headings{
    color: #A4A400 ;
    font-family: "Lucida Sans Unicode", Helvetica, Arial,"sans-serif";
    text-decoration: underline;
    letter-spacing: 0.25em;
}
.headings span{
    background-color: #F0F0F0 ;
}
ul > li {
    list-style-image: url(../images/pie_bullet.png);
}
h1{
    font:  22pt bold;
    text-align: center;
}
h2{
    font-size: 18pt;
    text-align: left;
}
a{
    color: #A4A400;
}
.bold-text{
font-weight: bold;
}
blockquote{
    font-style: italic;
    background-color: #FFFFA8;
}
.underlined{
    text-decoration: underline;
}
.validators{
    text-align: right;

}
#copy-right{
    float: right;
 }
