body{
    background-color: rgb(60, 70,60);
}
h1 {
    color: lightblue;
     text-align: center;
    
  }
  h3 {
    color: greenyellow;
    
  }
ul,ol,p {
    color: white;
    font-family: verdana;
  font-size: 15px;
}
#highlight{
    color: goldenrod;
}

a {
   color: #1e7ec8;
   text-decoration: none; 
}

a:hover {
   text-decoration: underline; 
}

.caps{

    font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  padding: 1.8px;
}
.shout{
  color: goldenrod;

}
.mood img{
    height: 200px;
    width: 200px;
}